%% -*- coding: latin-1 -*-
%% 游戏名称
{game_name,"y1"}.

%% 游戏服ID
{agent_id, 0}.
%% 代理商名称
{agent_name,"local"}.
%%服务器ID
{server_id, 1}.
%%服务器名称
{server_name,"S1"}.

%% 开服日期
{server_start_datetime, {{2015,8,8},{10,0,0}}}.

%% 日志节点
{log_node,'y1_logger_S1@192.168.1.250'}.


%% 标示是否合服
{is_merged, false}.
%% 可进入的服ID，必须配置，如果此服是合服的，需每一个服需要配置
{{can_login_id,1},true}.
{{can_login_id,2},true}.
{{can_login_id,3},true}.


%% 是否是debug模式，php也会读取这个文件
{is_debug, true}.

%% 平台FCM 密匙
{fcm_validation_key, "fcm_validation_md5_key"}.

%% 平台FCM 验证地址
{fcm_validation_url, "http://www.y1game-local.com/api/fcm_validation.php"}.

%% 日志级别
{log_level, 3}.

%% 超级认证key，用于开发直接连接外网的机器
{gateway_super_key, "y1_server_hack_key"}.

%% ERLANG WEB PORT {"外网IP或域名",端口}
{erlang_web_port,{"192.168.1.220", 8000}}.

%% A机IP
{master_host, "192.168.1.220"}.

%% 网关信息
{
gateway, 
	[
		%% 内网IP  对外域名  对外开放的端口
		%%{"192.168.0.104", "y1.junhai.com", [8080, 443]}
		{"192.168.1.220", "192.168.1.220", [9001]}
	]
}.

%% PORTAL接口配置
{portal_api_home_url,"http://debug.game.portal.com/index.php"}.

%% ADMIN接口配置
{admin_api_home_url,"http://debug.game.admin.com"}.

%% 前端API验证密匙
{client_api_key,"S75vqUPcX4RtQUVCYkjUnxkbgQNHM3B5"}.

%% 管理平台API验证密匙
{admin_api_key,"S75vqUPcX4RtQUVCYkjUnxkbgQNHM3B5"}.
{admin_api_valid_interval,60}.
%% 为空即所有请求都通过,["192.168.10.141",...]
{admin_api_allow_ips,[]}.

%% 充值API验证密匙
{pay_api_key,"S75vqUPcX4RtQUVCYkjUnxkbgQNHM3B5"}.
{pay_api_valid_interval,60}.
%% 为空即所有请求都通过,["192.168.10.141",...]
{pay_api_allow_ips,[]}.


%% 日志节点配置
%%%{{mysql_config,AgentId,ServerId},{"localhost", "user", "password", "database"}}.
%%local
{{mysql_config,0,1},{"localhost", "y_game_logger", "XjXNerBVTHUGGBf9", "log_local_s1"}}.
%% debug
{{mysql_config,1,1},{"localhost", "y_game_logger", "XjXNerBVTHUGGBf9", "log_debug_s1"}}.
{{mysql_config,1,2},{"localhost", "y_game_logger", "XjXNerBVTHUGGBf9", "log_debug_s2"}}.
{{mysql_config,1,3},{"localhost", "y_game_logger", "XjXNerBVTHUGGBf9", "log_debug_s3"}}.
{{mysql_config,1,9000},{"localhost", "y_game_logger", "XjXNerBVTHUGGBf9", "log_debug_s9000"}}.