%% 任务配置

%% 任务的其他额外配置
{first_mission_id,[10001010]}.

%% 玩家第一个任务配置
{{role_first_mission_id,0},10001010}. %%所有玩家第一个任务一样配置

%% 取消任务时也记录次数
{cancel_mission_add_times_biggroup,[]}.

%% 系统自动接取的任务id列表
%% 自动接取的任务必须有前置任务
{system_auto_accept_mission_id_list,[

]}.

%% 可立即完成的任务配置
%% 费用类型 ,11银两,,21金币, 
{{can_do_complete_biggroup,1007},{21,10}}.

%% 立即完成并提交任务配置
%% 最大一次可完成的次数
{can_do_submit_max_times,1}.
%% 费用类型 ,11银两,21金币
{{can_do_submit_biggroup,1003},{21,100}}.


%% 配置任务完成立即自动领取奖励任务分组id
{{auto_submit_biggroup,2001},true}.
%% 配置任务完成立即自动领取奖励任务id
{{auto_submit_mission_id,10002010},true}.
{{auto_submit_mission_id,10002100},true}.
{{auto_submit_mission_id,10002151},true}.
{{auto_submit_mission_id,10002152},true}.
{{auto_submit_mission_id,10002220},true}.




%% 可以刷新任务颜色的任务分组配置
{{can_mission_recolor_biggroup,1004},true}.

%% 一次刷新任务颜色费用，单位：铜钱
{mission_recolor_fee_coin,1}.
%% 一次刷新任务颜色费用，单位：金币
{mission_recolor_fee_gold,10}.

%% 铜钱刷新任务颜色次数更新时间配置，单位：秒
{mission_recolor_coin_refresh_time,7200}.
%% 每一次铜钱CD时间增加的刷新次数
{mission_recolor_coin_refresh_add_times,1}.
%% 初始化铜钱刷新任务颜色次数配置
{mission_recolor_init_coin_times,1}.

%% 刷新任务概率配置
%% 金币刷新
%% 最小刷新次数 >=  and < 最大刷新次数
%% {最小刷新次数,最大刷新次数,权重列表}
%% {MinTimes,MaxTimes,WeightList} [白色,绿色,蓝色,紫色,橙色]
{mission_recolor_gold_weight,[
                              {0,3,[100,80,70,60,5]},
                              {3,6,[50,200,100,80,10]},
                              {6,9,[50,50,200,100,15]},
                              {9,0,[10,100,50,80,100]}
                             ]}.
%% 铜钱刷新
%% 权重列表 [白色,绿色,蓝色,紫色,橙色]
{mission_recolor_coin_weight,[10,10,10,10,0]}.


%% 任务颜色奖励配置
%% {{mission_color,颜色},倍数}.
{{mission_color,0},1}.
{{mission_color,1},1}.
{{mission_color,2},1.5}.
{{mission_color,3},2}.
{{mission_color,4},2.5}.
{{mission_color,5},4}.


%% 任务委托列表
{mission_base_auto_list,[]}.

%% 任务委托配置
%% big_group 任务分组
%% min_level 可委托的最小玩家等级
%% need_time 每一环任务委托需要的时间，单位：秒
%% op_fee 每一环任务委托需要的费用，单位：金币
%% do_fee 每一环立即完成费用，单位：金币
%% -record(r_mission_base_auto,{big_group=0,name="",min_level=0,need_time=0,op_fee=0,do_fee=0}).
%%{{mission_base_auto,1001},{r_mission_base_auto,1001,<<"铜钱循环">>,10,60,5,10}}.
%%{{mission_base_auto,1002},{r_mission_base_auto,1002,<<"木材循环">>,10,60,5,10}}.
%%{{mission_base_auto,1003},{r_mission_base_auto,1003,<<"军功循环">>,35,60,10,20}}.
%%{{mission_base_auto,1004},{r_mission_base_auto,1004,<<"石头循环">>,10,60,5,10}}.
%%{{mission_base_auto,1005},{r_mission_base_auto,1005,<<"铁矿循环">>,10,60,5,10}}.
%%{{mission_base_auto,1006},{r_mission_base_auto,1006,<<"经验循环">>,10,60,5,10}}.



