%% -*- coding: latin-1 -*-
%% 通用配置，用于放一些零散的配置

%% key_id 最多位数 默认8位
{key_id_max_digit,100000000}.
{key_name_separate,".S"}.
{key_name_regular,"~s~s~s"}.

%% 玩家验证key有效时间 单位:秒
{gateway_key_timeout, 300}.

%% 三个国家京城地图id配置
{{faction_map_id,1},10000}.
{{faction_map_id,2},10000}.
{{faction_map_id,3},10000}.


%% 进入游戏后多久弹出第一个防沉迷提示框
{first_notify_fcm_time, 3600}.
%% 每次防沉迷提示的间隔时间
{notify_fcm_interval_time, 3600}.
%% 在线多久就会被防沉迷，不要动，除非文化部发布了新的规定
{fcm_kick_time, 10800}.
%%下线总时间大于多少时才能玩游戏
{fcm_offline_time, 18000}.

%% 是否开启游客模式帐号进行游戏
{is_open_guest_account,false}.

{stop_prepare_msg,"游戏服即将停机维护，详细请查询官网，请大家提前下线以免数据丢失，谢谢合作！倒计时：~s"}.
{stop_prepare_second, 5}.

%% 最大系统开放等级 
{max_role_level, 100}.
%% 自动升级等级
{auto_level_up, 40}.
%% 最大储存经验倍数
{store_role_exp_multi, 3}.

