%% -*- coding: latin-1 -*-
%% 合服配置文档

%% 合服的代理商名称
{agent_name, "qq"}.

%% 参与合服的服务器列表，必须写数字列表
{server_id_list, [1,2,3]}.

%% 合服类型: 列表中的第一个元素为服务器ID， 第二个为合服的具体设置 0 为阵营不变 1 为阵营全部改为墨山 2 为云山 3 为瑶山
{merge_type, [{1, 0}, {2, 0}, {3, 0}]}.

%% 重名后的自动后缀，包括角色、账号、宗族等等
{rename_postfix, "※"}.

%% 合服是否打印玩家信息日志
{is_write_role_info,false}.

%% 每次恢复表个数 0表示一次全部恢复
{per_restore_num,10}.

%% 不恢复数据的表
{skip_tables, [
			   db_role_online,
			   db_common_letter_counter,
			   db_common_letter
			  ]}.
