%% -*- coding: latin-1 -*-
%% 系统相关配置信息

%% md5key
{md5key,"XfPacUFYBwqy3sBXcs4mJb4QUkxAGKwF"}.

%% 防沉迷 ：true开启,false关闭
{fcm,"false"}.

%% 是否可创建角色
{is_create_role,"true"}.

%% 是否开启充值
{is_open_recharge,"true"}.

%% 最大在线人数
{max_online_number,"5000"}.

%% 开始等在线人数
{wait_online_number,"3500"}.

 %%可修改项列表
{can_change_list, [fcm,
				   is_create_role,
				   is_open_recharge,
				   max_online_number,
				   wait_online_number]}.