%% -*- coding: latin-1 -*-
%%==============称号码对应称号名和颜色==================
%% 称号配置信息
%% code:int() 称号编码
%% name:string() 称号名
%% color:string() 称号颜色编码
%% is_chat:bool() 是否在聊天显示
%% buffs:list[Element] Element:int()) 称号的buff效果id列表
%% show_immediately:bool() 是否获得立即显示
%% keep_seconds:int() 持续时间   
%%-record(r_title_config,{code,name,color,is_chat,buffs,show_immediately,keep_seconds}).


%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%% 所有称号的buff类型
{title_buff_type,[5001,5002,5003,5004,5005]}.

%% 官职称号
%% {{title_code,10001},{r_title_config,10001,"百达王","FFFF00",true,[1601],true,0}}.
%% {{title_code,10002},{r_title_config,10002,"翡丽王","FFFF00",true,[1601],true,0}}.
%% {{title_code,10003},{r_title_config,10003,"丹顿王","FFFF00",true,[1601],true,0}}.
%% {{title_code,10004},{r_title_config,10004,"大元帅","FF6000",false,[1601],true,0}}.
%% {{title_code,10005},{r_title_config,10005,"大将军","9B52FF",false,[1601],true,0}}.
%% {{title_code,10006},{r_title_config,10006,"统领","00AEFF",false,[1601],true,0}}.

%% 排行榜称号
{{title_code,20001},{r_title_config,20001,"至尊情圣","FF48E4",true,[],false,0}}.
{{title_code,20002},{r_title_config,20002,"鲜花情人","00FF00",false,[],false,0}}.
{{title_code,20003},{r_title_config,20003,"鲜花爱人","00FF00",false,[],false,0}}.
{{title_code,20004},{r_title_config,20004,"护花使者","FF48E4",true,[],false,0}}.

{{title_code,20005},{r_title_config,20005,"鲜花公主","FF48E4",true,[],false,0}}.
{{title_code,20006},{r_title_config,20006,"鲜花佳人","00FF00",false,[],false,0}}.
{{title_code,20007},{r_title_config,20007,"鲜花丽人","00FF00",false,[],false,0}}.
{{title_code,20008},{r_title_config,20008,"鲜花宝贝","FF48E4",true,[],false,0}}.

%% VIP称号
{{title_code,30001},{r_title_config,30001,"VIP1","FFFF00",true,[],true,0}}.
{{title_code,30002},{r_title_config,30002,"VIP2","FFFF00",true,[],true,0}}.
{{title_code,30003},{r_title_config,30003,"VIP3","FFFF00",true,[],true,0}}.
{{title_code,30004},{r_title_config,30004,"VIP4","FFFF00",true,[],true,0}}.
{{title_code,30005},{r_title_config,30005,"VIP5","FFFF00",true,[],true,0}}.
{{title_code,30006},{r_title_config,30006,"VIP6","FFFF00",true,[],true,0}}.
{{title_code,30007},{r_title_config,30007,"VIP7","FFFF00",true,[],true,0}}.
{{title_code,30008},{r_title_config,30008,"VIP8","FFFF00",true,[],true,0}}.
{{title_code,30009},{r_title_config,30009,"VIP9","FFFF00",true,[],true,0}}.
{{title_code,30010},{r_title_config,30010,"VIP10","FFFF00",true,[],true,0}}.
{{title_code,30011},{r_title_config,30011,"VIP11","FFFF00",true,[],true,0}}.
{{title_code,30012},{r_title_config,30012,"VIP12","FFFF00",true,[],true,0}}.

%% 帮派称号
{{title_code,40001},{r_title_config,40001,"帮主","00FF00",false,[],false,0}}.
{{title_code,40002},{r_title_config,40002,"副帮主","00FF00",false,[],false,0}}.
{{title_code,40005},{r_title_config,40005,"长老","00FF00",false,[],false,0}}.
{{title_code,40003},{r_title_config,40003,"骁骑","00FF00",false,[],false,0}}.
{{title_code,40004},{r_title_config,40004,"铁骑","00FF00",false,[],false,0}}.
{{title_code,40006},{r_title_config,40006,"帮众","00FF00",false,[],false,0}}.

%% 成就称号
{{title_code,50001},{r_title_config,50001,"圣灵宠物","FF6000",false,[],false,0}}.
{{title_code,50002},{r_title_config,50002,"圣体宠物","FF6000",false,[],false,0}}.
{{title_code,50003},{r_title_config,50003,"飞鸿羽翼","FF6000",false,[],false,0}}.
{{title_code,50004},{r_title_config,50004,"东方不败","FF6000",false,[],false,0}}.
{{title_code,50005},{r_title_config,50005,"死神来了","FF6000",false,[],false,0}}.
{{title_code,50006},{r_title_config,50006,"倒霉的家伙","00FF00",false,[],false,0}}.
{{title_code,50007},{r_title_config,50007,"霉运当头","00AEFF",false,[],false,0}}.
{{title_code,50008},{r_title_config,50008,"倒霉透顶","9B52FF",false,[],false,0}}.
{{title_code,50009},{r_title_config,50009,"失败之王","FF6000",false,[],false,0}}.
{{title_code,50010},{r_title_config,50010,"变身为王","FF6000",false,[],false,0}}.
{{title_code,50011},{r_title_config,50011,"财神降临","FF6000",false,[],false,0}}.
{{title_code,50012},{r_title_config,50012,"野兽之王","FF6000",false,[],false,0}}.
{{title_code,50013},{r_title_config,50013,"灵兽之王","FF6000",false,[],false,0}}.
{{title_code,50014},{r_title_config,50014,"凶兽之王","FF6000",false,[],false,0}}.
{{title_code,50015},{r_title_config,50015,"遥遥领先","FFFF00",true,[],false,0}}.
{{title_code,50016},{r_title_config,50016,"独领风骚","FFFF00",true,[],false,0}}.
{{title_code,50017},{r_title_config,50017,"独占鳌头","FFFF00",true,[],false,0}}.
{{title_code,50018},{r_title_config,50018,"天之娇宠","FFFF00",true,[],false,0}}.
{{title_code,50019},{r_title_config,50019,"混元圣装","FFFF00",true,[],false,0}}.
{{title_code,50020},{r_title_config,50020,"玄荒神装","FFFF00",true,[],false,0}}.
{{title_code,50021},{r_title_config,50021,"快、准、狠","FFFF00",true,[],false,0}}.
{{title_code,50022},{r_title_config,50022,"精益求精","FFFF00",true,[],false,0}}.
{{title_code,50023},{r_title_config,50023,"完美强化","FFFF00",true,[],false,0}}.
{{title_code,50024},{r_title_config,50024,"巅峰强化","FFFF00",true,[],false,0}}.
{{title_code,50025},{r_title_config,50025,"史诗强化","FFFF00",true,[],false,0}}.
{{title_code,50026},{r_title_config,50026,"宝石工匠","FFFF00",true,[],false,0}}.
{{title_code,50027},{r_title_config,50027,"宝石行家","FFFF00",true,[],false,0}}.
{{title_code,50028},{r_title_config,50028,"宝石大师","FFFF00",true,[],false,0}}.
{{title_code,50029},{r_title_config,50029,"白富美","FFFF00",true,[],false,0}}.
{{title_code,50030},{r_title_config,50030,"高富帅","FFFF00",true,[],false,0}}.

%% 帮派战称号
{{title_code,60001},{r_title_config,60001,"帮战破敌","FF6000",true,[],true,432000}}.
{{title_code,60002},{r_title_config,60002,"帮战英雄","FF6001",true,[],true,432000}}.
{{title_code,60003},{r_title_config,60003,"帮战英魂","00FFFF",true,[],false,432000}}.
{{title_code,60004},{r_title_config,60004,"帮战先锋","00FFFF",false,[],false,432000}}.
{{title_code,60005},{r_title_config,60005,"帮战冲锋","00FFFF",false,[],false,432000}}.

%% 竞技场
{{title_code,60101},{r_title_config,60101,"竞技之王","FF6000",true,[],false,0}}.
{{title_code,60102},{r_title_config,60102,"傲视群雄","9B52FF",true,[],false,0}}.
{{title_code,60103},{r_title_config,60103,"游刃有余","00AEFF",true,[],false,0}}.

%% 武斗会
{{title_code,60111},{r_title_config,60111,"武状元","FF6000",true,[9102,9105,9108],true,0}}.
{{title_code,60112},{r_title_config,60112,"武榜眼","9B52FF",true,[9103,9106,9109],true,0}}.
{{title_code,60113},{r_title_config,60113,"武探花","00AEFF",true,[9104,9107,9110],true,0}}.

%% 副本称号：神霄天门
{{title_code,60201},{r_title_config,60201,"主宰三界","FF6000",true,[9101],true,550800}}.

%% 战力榜称号
{{title_code,70001},{r_title_config,70001,"雄霸天下","FF6000",true,[9111],false,0}}.
{{title_code,70002},{r_title_config,70002,"战无不胜","9B52FF",true,[9112],false,0}}.
{{title_code,70003},{r_title_config,70003,"无坚不摧","00AEFF",true,[9113],false,0}}.
{{title_code,70004},{r_title_config,70004,"所向披靡","00FF00",true,[9114],false,0}}.
{{title_code,70005},{r_title_config,70005,"横扫千军","00FF00",true,[9115],false,0}}.

%% 活动称号
{{title_code,1001},{r_title_config,1001,"新手指导员","FF6000",true,[],true,0}}.

%% 境界称号
{{title_code,80001},{r_title_config,80001,"一阶灵士","d0d0d0",false,[],true,0}}.
{{title_code,80002},{r_title_config,80002,"二阶灵士","d0d0d0",false,[],true,0}}.
{{title_code,80003},{r_title_config,80003,"三阶灵士","d0d0d0",false,[],true,0}}.
{{title_code,80004},{r_title_config,80004,"四阶灵士","d0d0d0",false,[],true,0}}.
{{title_code,80005},{r_title_config,80005,"五阶灵士","d0d0d0",false,[],true,0}}.
{{title_code,80006},{r_title_config,80006,"六阶灵士","d0d0d0",false,[],true,0}}.
{{title_code,80007},{r_title_config,80007,"七阶灵士","d0d0d0",false,[],true,0}}.
{{title_code,80008},{r_title_config,80008,"八阶灵士","d0d0d0",false,[],true,0}}.
{{title_code,80009},{r_title_config,80009,"九阶灵士","d0d0d0",false,[],true,0}}.
{{title_code,80010},{r_title_config,80010,"十阶灵士","d0d0d0",false,[],true,0}}.
{{title_code,80011},{r_title_config,80011,"一阶贤士","8E8E8E",false,[],true,0}}.
{{title_code,80012},{r_title_config,80012,"二阶贤士","8E8E8E",false,[],true,0}}.
{{title_code,80013},{r_title_config,80013,"三阶贤士","8E8E8E",false,[],true,0}}.
{{title_code,80014},{r_title_config,80014,"四阶贤士","8E8E8E",false,[],true,0}}.
{{title_code,80015},{r_title_config,80015,"五阶贤士","8E8E8E",false,[],true,0}}.
{{title_code,80016},{r_title_config,80016,"六阶贤士","8E8E8E",false,[],true,0}}.
{{title_code,80017},{r_title_config,80017,"七阶贤士","8E8E8E",false,[],true,0}}.
{{title_code,80018},{r_title_config,80018,"八阶贤士","8E8E8E",false,[],true,0}}.
{{title_code,80019},{r_title_config,80019,"九阶贤士","8E8E8E",false,[],true,0}}.
{{title_code,80020},{r_title_config,80020,"十阶贤士","8E8E8E",false,[],true,0}}.
{{title_code,80021},{r_title_config,80021,"一阶斗士","00DB00",false,[],true,0}}.
{{title_code,80022},{r_title_config,80022,"二阶斗士","00DB00",false,[],true,0}}.
{{title_code,80023},{r_title_config,80023,"三阶斗士","00DB00",false,[],true,0}}.
{{title_code,80024},{r_title_config,80024,"四阶斗士","00DB00",false,[],true,0}}.
{{title_code,80025},{r_title_config,80025,"五阶斗士","00DB00",false,[],true,0}}.
{{title_code,80026},{r_title_config,80026,"六阶斗士","00DB00",false,[],true,0}}.
{{title_code,80027},{r_title_config,80027,"七阶斗士","00DB00",false,[],true,0}}.
{{title_code,80028},{r_title_config,80028,"八阶斗士","00DB00",false,[],true,0}}.
{{title_code,80029},{r_title_config,80029,"九阶斗士","00DB00",false,[],true,0}}.
{{title_code,80030},{r_title_config,80030,"十阶斗士","00DB00",false,[],true,0}}.
{{title_code,80031},{r_title_config,80031,"一阶尊师","00CACA",false,[],true,0}}.
{{title_code,80032},{r_title_config,80032,"二阶尊师","00CACA",false,[],true,0}}.
{{title_code,80033},{r_title_config,80033,"三阶尊师","00CACA",false,[],true,0}}.
{{title_code,80034},{r_title_config,80034,"四阶尊师","00CACA",false,[],true,0}}.
{{title_code,80035},{r_title_config,80035,"五阶尊师","00CACA",false,[],true,0}}.
{{title_code,80036},{r_title_config,80036,"六阶尊师","00CACA",false,[],true,0}}.
{{title_code,80037},{r_title_config,80037,"七阶尊师","00CACA",false,[],true,0}}.
{{title_code,80038},{r_title_config,80038,"八阶尊师","00CACA",false,[],true,0}}.
{{title_code,80039},{r_title_config,80039,"九阶尊师","00CACA",false,[],true,0}}.
{{title_code,80040},{r_title_config,80040,"十阶尊师","00CACA",false,[],true,0}}.
{{title_code,80041},{r_title_config,80041,"一阶宗师","66B3FF",false,[],true,0}}.
{{title_code,80042},{r_title_config,80042,"二阶宗师","66B3FF",false,[],true,0}}.
{{title_code,80043},{r_title_config,80043,"三阶宗师","66B3FF",false,[],true,0}}.
{{title_code,80044},{r_title_config,80044,"四阶宗师","66B3FF",false,[],true,0}}.
{{title_code,80045},{r_title_config,80045,"五阶宗师","66B3FF",false,[],true,0}}.
{{title_code,80046},{r_title_config,80046,"六阶宗师","66B3FF",false,[],true,0}}.
{{title_code,80047},{r_title_config,80047,"七阶宗师","66B3FF",false,[],true,0}}.
{{title_code,80048},{r_title_config,80048,"八阶宗师","66B3FF",false,[],true,0}}.
{{title_code,80049},{r_title_config,80049,"九阶宗师","66B3FF",false,[],true,0}}.
{{title_code,80050},{r_title_config,80050,"十阶宗师","66B3FF",false,[],true,0}}.
{{title_code,80051},{r_title_config,80051,"一阶皇者","7D7DFF",false,[],true,0}}.
{{title_code,80052},{r_title_config,80052,"二阶皇者","7D7DFF",false,[],true,0}}.
{{title_code,80053},{r_title_config,80053,"三阶皇者","7D7DFF",false,[],true,0}}.
{{title_code,80054},{r_title_config,80054,"四阶皇者","7D7DFF",false,[],true,0}}.
{{title_code,80055},{r_title_config,80055,"五阶皇者","7D7DFF",false,[],true,0}}.
{{title_code,80056},{r_title_config,80056,"六阶皇者","7D7DFF",false,[],true,0}}.
{{title_code,80057},{r_title_config,80057,"七阶皇者","7D7DFF",false,[],true,0}}.
{{title_code,80058},{r_title_config,80058,"八阶皇者","7D7DFF",false,[],true,0}}.
{{title_code,80059},{r_title_config,80059,"九阶皇者","7D7DFF",false,[],true,0}}.
{{title_code,80060},{r_title_config,80060,"大地皇者","7D7DFF",false,[],true,0}}.
{{title_code,80061},{r_title_config,80061,"一阶真人","8080C0",false,[],true,0}}.
{{title_code,80062},{r_title_config,80062,"二阶真人","8080C0",false,[],true,0}}.
{{title_code,80063},{r_title_config,80063,"三阶真人","8080C0",false,[],true,0}}.
{{title_code,80064},{r_title_config,80064,"四阶真人","8080C0",false,[],true,0}}.
{{title_code,80065},{r_title_config,80065,"五阶真人","8080C0",false,[],true,0}}.
{{title_code,80066},{r_title_config,80066,"六阶真人","8080C0",false,[],true,0}}.
{{title_code,80067},{r_title_config,80067,"七阶真人","8080C0",false,[],true,0}}.
{{title_code,80068},{r_title_config,80068,"八阶真人","8080C0",false,[],true,0}}.
{{title_code,80069},{r_title_config,80069,"九阶真人","8080C0",false,[],true,0}}.
{{title_code,80070},{r_title_config,80070,"十阶真人","8080C0",false,[],true,0}}.
{{title_code,80071},{r_title_config,80071,"一阶玄仙","AE57A4",false,[],true,0}}.
{{title_code,80072},{r_title_config,80072,"二阶玄仙","AE57A4",false,[],true,0}}.
{{title_code,80073},{r_title_config,80073,"三阶玄仙","AE57A4",false,[],true,0}}.
{{title_code,80074},{r_title_config,80074,"四阶玄仙","AE57A4",false,[],true,0}}.
{{title_code,80075},{r_title_config,80075,"五阶玄仙","AE57A4",false,[],true,0}}.
{{title_code,80076},{r_title_config,80076,"六阶玄仙","AE57A4",false,[],true,0}}.
{{title_code,80077},{r_title_config,80077,"七阶玄仙","AE57A4",false,[],true,0}}.
{{title_code,80078},{r_title_config,80078,"八阶玄仙","AE57A4",false,[],true,0}}.
{{title_code,80079},{r_title_config,80079,"九阶玄仙","AE57A4",false,[],true,0}}.
{{title_code,80080},{r_title_config,80080,"十阶玄仙","AE57A4",false,[],true,0}}.
{{title_code,80081},{r_title_config,80081,"一阶太仙","FF8000",false,[],true,0}}.
{{title_code,80082},{r_title_config,80082,"二阶太仙","FF8000",false,[],true,0}}.
{{title_code,80083},{r_title_config,80083,"三阶太仙","FF8000",false,[],true,0}}.
{{title_code,80084},{r_title_config,80084,"四阶太仙","FF8000",false,[],true,0}}.
{{title_code,80085},{r_title_config,80085,"五阶太仙","FF8000",false,[],true,0}}.
{{title_code,80086},{r_title_config,80086,"六阶太仙","FF8000",false,[],true,0}}.
{{title_code,80087},{r_title_config,80087,"七阶太仙","FF8000",false,[],true,0}}.
{{title_code,80088},{r_title_config,80088,"八阶太仙","FF8000",false,[],true,0}}.
{{title_code,80089},{r_title_config,80089,"九阶太仙","FF8000",false,[],true,0}}.
{{title_code,80090},{r_title_config,80090,"十阶太仙","FF8000",false,[],true,0}}.
{{title_code,80091},{r_title_config,80091,"一阶飞仙","FF0080",false,[],true,0}}.
{{title_code,80092},{r_title_config,80092,"二阶飞仙","FF0080",false,[],true,0}}.
{{title_code,80093},{r_title_config,80093,"三阶飞仙","FF0080",false,[],true,0}}.
{{title_code,80094},{r_title_config,80094,"四阶飞仙","FF0080",false,[],true,0}}.
{{title_code,80095},{r_title_config,80095,"五阶飞仙","FF0080",false,[],true,0}}.
{{title_code,80096},{r_title_config,80096,"六阶飞仙","FF0080",false,[],true,0}}.
{{title_code,80097},{r_title_config,80097,"七阶飞仙","FF0080",false,[],true,0}}.
{{title_code,80098},{r_title_config,80098,"八阶飞仙","FF0080",false,[],true,0}}.
{{title_code,80099},{r_title_config,80099,"九阶飞仙","FF0080",false,[],true,0}}.
{{title_code,80100},{r_title_config,80100,"十阶飞仙","FF0080",false,[],true,0}}.
{{title_code,80101},{r_title_config,80101,"一阶真武","EAC100",false,[],true,0}}.
{{title_code,80102},{r_title_config,80102,"二阶真武","EAC100",false,[],true,0}}.
{{title_code,80103},{r_title_config,80103,"三阶真武","EAC100",false,[],true,0}}.
{{title_code,80104},{r_title_config,80104,"四阶真武","EAC100",false,[],true,0}}.
{{title_code,80105},{r_title_config,80105,"五阶真武","EAC100",false,[],true,0}}.
{{title_code,80106},{r_title_config,80106,"六阶真武","EAC100",false,[],true,0}}.
{{title_code,80107},{r_title_config,80107,"七阶真武","EAC100",false,[],true,0}}.
{{title_code,80108},{r_title_config,80108,"八阶真武","EAC100",false,[],true,0}}.
{{title_code,80109},{r_title_config,80109,"九阶真武","EAC100",false,[],true,0}}.
{{title_code,80110},{r_title_config,80110,"十阶真武","EAC100",false,[],true,0}}.
{{title_code,80111},{r_title_config,80111,"一阶太虚","FFFF37",false,[],true,0}}.
{{title_code,80112},{r_title_config,80112,"二阶太虚","FFFF37",false,[],true,0}}.
{{title_code,80113},{r_title_config,80113,"三阶太虚","FFFF37",false,[],true,0}}.
{{title_code,80114},{r_title_config,80114,"四阶太虚","FFFF37",false,[],true,0}}.
{{title_code,80115},{r_title_config,80115,"五阶太虚","FFFF37",false,[],true,0}}.
{{title_code,80116},{r_title_config,80116,"六阶太虚","FFFF37",false,[],true,0}}.
{{title_code,80117},{r_title_config,80117,"七阶太虚","FFFF37",false,[],true,0}}.
{{title_code,80118},{r_title_config,80118,"八阶太虚","FFFF37",false,[],true,0}}.
{{title_code,80119},{r_title_config,80119,"九阶太虚","FFFF37",false,[],true,0}}.
{{title_code,80120},{r_title_config,80120,"十阶太虚","FFFF37",false,[],true,0}}.


%% 称号的相关配置
   
%%%%%%%%   
%%默认的称号 {code, color}.
{default_title,0}.  

%% 签名称号
{signature_title,{1,"FFC69E"}}.

%% 徒弟称号
{student_title_color, "00FF00"}.

%%%%%%%%   
%%国王的称号
{king_code,[{1,10001},{2,10002},{3,10003}]}.     
%% 丞相
{minister_code,10004}.
%% 大将军
{jinyiwei_code,10005}.
%% 锦衣卫
{general_code,10006}.

%%-----------------------begin目前有效称号 -----------------------------

%%送花榜称号
{{rank_type,6001},[{1,1,20001},{2,3,20002},{4,10,20003}]}.

%%收花榜称号
{{rank_type,7001},[{1,1,20005},{2,3,20006},{4,10,20007}]}.

%%昨日送花榜
{{rank_type,6002},[{1,1,20004}]}.
%%昨日鲜花榜
{{rank_type,7002},[{1,1,20008}]}.

%% 战力排行榜称号
{{rank_type,1101},[{1,1,70001},{2,2,70002},{3,3,70003},{4,4,70004},{5,5,70005}]}.

%% 竞技场排行榜称号
{{rank_type,1401},[{1,1,60101},{2,2,60102},{3,3,60103}]}.

%% 武斗大会称号
{{rank_type,2001},[{1,1,60111},{2,2,60112},{3,3,60113}]}.
{{rank_type,2002},[{1,1,60111},{2,2,60112},{3,3,60113}]}.
{{rank_type,2003},[{1,1,60111},{2,2,60112},{3,3,60113}]}.

%%----------------------- end目前有效称号 -----------------------------


%% 宗族自定义称号时，不允许起的称号
{family_title_forbidden,[

"至尊情圣",
"鲜花情人",
"鲜花爱人",
"护花使者",
"鲜花公主",
"鲜花佳人",
"鲜花丽人",
"鲜花宝贝",

"VIP1",
"VIP2",
"VIP3",
"VIP4",
"VIP5",
"VIP6",
"VIP7",
"VIP8",
"VIP9",

"帮主",
"副帮主",
"长老",
"骁骑",
"铁骑",
"帮众",

"帮战破敌",
"帮战英雄",
"帮战英魂",
"帮战先锋",
"帮战冲锋",

"竞技之王",
"傲视群雄",
"游刃有余",

"主宰三界",

"雄霸天下",
"战无不胜",
"无坚不摧",
"所向披靡",
"横扫千军",

"指导员",
"GM",

"灵士",
"贤士",
"斗士",
"尊师",
"宗师",
"皇者"

]}.